global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"

    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "spring-actuator"
    metrics_path: '/actuator/prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ["app_1_container_1:8081", "app_1_container_2:8081"]