spring:
  ai:
    vectorstore:
      mariadb:
        schema-name: airbnb_2m
  data:
    mongodb:
      host: ${MONGODB_HOST}
      port: ${MONGODB_PORT}
      database: chatbot
      username: ${MONGODB_USERNAME}
      password: ${MONGODB_PASSWORD}
      authentication-database: admin
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
  mail:
    host: smtp.gmail.com
    port: 587
    username: jgy091411@gmail.com
    password: ${GMAIL_SMTP_PWD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connection-timeout: 5000
          timeout: 5000
          write-timeout: 5000
  batch:
    job:
      enabled: false
  datasource:
    url: ${PROD_DB_URL}
    username: ${PROD_DB_USERNAME}
    password: ${PROD_DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    project.airbnb.clone: debug
    org.springframework.web.filter.CommonsRequestLoggingFilter: debug

app:
  frontend-url: https://www.jgy914.shop
  base-url: https://airbackend.jgy914.shop

server:
  forward-headers-strategy: native
management:
  prometheus:
    metrics:
      export:
        enabled: true