spring:
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
  mail:
    host: smtp.gmail.com
    port: 587
    username: jgy091411@gmail.com
    password: ${GMAIL_SMTP_PWD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connection-timeout: 5000
          timeout: 5000
          write-timeout: 5000
  batch:
    job:
      enabled: false
  datasource:
    url: ${PROD_DB_URL}
    username: ${PROD_DB_USERNAME}
    password: ${PROD_DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate

logging:
  level:
    project.airbnb.clone: info
    org.hibernate.orm.jdbc.bind: info
    org.hibernate.orm.jdbc.extract: info
    org.springframework.transaction.interceptor: info

app:
  frontend-url: https://www.jgy914.shop
  base-url: https://airbackend.jgy914.shop

server:
  forward-headers-strategy: native
management:
  server:
    address: 0.0.0.0
  prometheus:
    metrics:
      export:
        enabled: true